{% extends "home.html" %}

{% block title %}Attendance Management{% endblock %}

{% block content %}
    <div class="container">
        <style>
            td {
                padding: 10px;
            }
        </style>
        <h2>Attendance Management</h2>
        <a href="{{ url_for('home') }}"><button class="home-button"><i class="fa fa-home" aria-hidden="true"></i></button></a>
        <label for="from-date" style="color: white; font-weight: bold;">From Date:</label>
        <input type="date" id="from-date" style="height: 25px; border-radius:15px;">
        <label for="to-date" style="color: white; font-weight: bold;">To Date:</label>
        <input type="date" id="to-date" style="height: 25px; border-radius:15px;">
        <input type="text" id="erpnext-id" placeholder="Enter ERPNext ID" style="height: 25px; border-radius:15px;">
        <button class="filter-button" onclick="filterAttendance()"><i class="fa fa-filter" aria-hidden="true"></i></button>

        <button class="download-button" onclick="downloadCSV()"><i class="fa fa-download"> CSV</i></button>

        <table id="attendanceTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Employee Name</th>
                    <th>STATUS</th>
                    <th>DATE</th>
                </tr>
            </thead>
            <tbody>
                <!-- Attendance rows will be added here -->
            </tbody>
        </table>
    </div>

    <div class="popup" id="popup">
        <div class="popup-content">
            <h3 id="popup-title"></h3>
            <input type="hidden" id="popup-id">
            <div>
                <input type="text" id="popup-employee_name" placeholder="Enter Employee Name">
            </div>
            <div>
                <input type="text" id="popup-erpnext_id" placeholder="Enter ERPNext ID">
            </div>
            <div>
                <input type="text" id="popup-status" placeholder="Enter STATUS">
            </div>
            <div>
                <input type="date" id="popup-attendance_date" placeholder="Enter DATE">
            </div>

            <button class="button" id="popup-save-btn" onclick="saveAttendance()">Save</button>
            <button class="button" onclick="hidePopup()">Cancel</button>
        </div>
    </div>
    <script type="text/javascript">
        var url = "{{ url }}";
        var token = "{{ token }}";
    </script>
    <script src="{{ url_for('static', filename='js/attendance_script.js') }}"></script>
{% endblock %}
